html {
    background: #F6F6EF;
    font-size: 18px; /* needs to be set here to establish the correct root-em */
}

.scroll-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background: #C33;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", system-ui, sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

body > * {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

p {
    font-family: "Source Serif Pro", serif;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify;
}

header {
    text-align: center;
    /* extend background to the sides of the screen and to the top */
    box-shadow: 0 -500vh 0 500vh #C33; /* https://stackoverflow.com/a/18935218 */
}

header h1 {
    margin: 0.5rem 0;
}

header, header h1 a {
    background: #C33;
    color: #FFFFF4;
}

nav {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #F33;
    text-decoration: none !important;
}

article a:active, article a:visited,
section a:active, section a:visited {
    color: #966;
}

pre {
    border-radius: 5px;
    padding: 0 0.5rem;
    background: #DDC;
    font-variant-ligatures: none;
    max-width: 100%;
    overflow-x: auto;
}

blockquote {
    border-left: 3px solid #DDC;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 1rem;
}

footer {
    background: #C33;
    color: #FFFFF4;
    /* extend background to the sides of the screen, and also to the bottom if the page is shorter than the screen */
    box-shadow: 0 500vh 0 500vh #C33; /* https://stackoverflow.com/a/18935218 */
}

header:before, header:after,
footer:before, footer:after {
    content: "";
    display: table;
    clear: both;
}

footer > img {
    float: left;
    margin: 1rem;
    max-width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}

footer .legal {
    clear: left;
    font-style: italic;
}

footer .legal a {
    color: inherit !important;
    text-decoration: underline !important;
}
